<div class="container" id="works">
  <div>
    <h2>Work Experience</h2>
  </div>
  <ul>
    <li *ngFor="let work of workList" class="works">
      <span id="role">{{work.role}}</span><br>
      <span id="company">{{work.company}}</span><br>
      <span id="duration">{{work.duration}}</span><br>
      <ul>
        <li *ngFor="let desc of work.description" id="sublist" class="py-1">{{desc}} </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li *ngFor="let work of WorkExperienceAss" class="works">
      <span id="role">{{work.role}}</span><br>
      <span id="company">{{work.company}}</span><br>
      <span id="duration">{{work.duration}}</span><br>
      <ul>
        <li *ngFor="let desc of work.description" id="sublist" class="py-1">{{desc}} </li>
      </ul>
    </li>
  </ul>
</div>