<!-- <div class="container" id="project">
    <div>
      <h2>Project</h2>
    </div>
    <ul>
        <li>Ecommerce Website (<span style="color:  rgb(235, 89, 5);">College Project</span>)</li>
        <li>Employees Database Management System Technology: - <span style=" color: rgb(235, 89, 5);">spring boot framework , Angular , PostgreSQL.</span></li>
    </ul>
  </div> -->

  <div class="container" id="project">
    <h1>Projects</h1>
    <div class="project">
      <h2>Automatic Vehicle Location System (Mobility Domain)</h2>
      <ul>
        <li>
          Contributed to the Automatic Vehicle Location System (AVLS) project by troubleshooting and resolving bugs, enhancing real-time vehicle tracking reliability, and optimizing overall system performance.
        </li>
      </ul>
    </div>
  
    <div class="project">
      <h2>Conference Room Reservation</h2>
      <ul>
        <li>Implemented microservice architecture for the Conference Room Reservation.</li>
        <li>Used PostgreSQL and SQL Server database for data management.</li>
        <li>Built the backend with .NET Core Web API and the frontend with Angular.</li>
        <li>Implemented role-based access control.</li>
      </ul>
    </div>
  </div>
  